In [32]:
import csv, sqlite3


conn = sqlite3.connect("FinalDb.db")
cur = conn.cursor()

In [3]:
!pip install -q pandas==1.1.5

In [34]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

### Loading data into pandas dataframe

In [36]:
import pandas

df = pandas.read_csv("ChicagoCensusData.csv")
df.to_sql("CENSUS_DATA", conn, if_exists='replace', index=False,method="multi")

df = pandas.read_csv("ChicagoPublicSchools.csv")
df.to_sql("CHICAGO_PUBLIC_SCHOOLS_DATA", conn, if_exists='replace', index=False, method="multi")

df = pandas.read_csv("ChicagoCrimeData.csv")
df.to_sql("CHICAGO_CRIME_DATA", conn, if_exists='replace', index=False, method="multi")

### Establishing connection between SQL magic module and the database

In [38]:
%sql sqlite:///FinalDB.db

'Connected: @FinalDb.db'

##### Retrieving Tables

In [39]:
%sql SELECT name FROM sqlite_master WHERE type='table'

 * sqlite:///FinalDb.db
Done.

[('CENSUS_DATA',), ('CHICAGO_PUBLIC_SCHOOLS_DATA',), ('CHICAGO_CRIME_DATA',)]

##### Retrieving table information

In [44]:
%sql SELECT name,type,length(type) FROM PRAGMA_TABLE_INFO('CHICAGO_CRIME_DATA');

 * sqlite:///FinalDb.db
Done.

[('ID', 'INTEGER', 7),
 ('CASE_NUMBER', 'TEXT', 4),
 ('DATE', 'TEXT', 4),
 ('BLOCK', 'TEXT', 4),
 ('IUCR', 'TEXT', 4),
 ('PRIMARY_TYPE', 'TEXT', 4),
 ('DESCRIPTION', 'TEXT', 4),
 ('LOCATION_DESCRIPTION', 'TEXT', 4),
 ('ARREST', 'INTEGER', 7),
 ('DOMESTIC', 'INTEGER', 7),
 ('BEAT', 'INTEGER', 7),
 ('DISTRICT', 'INTEGER', 7),
 ('WARD', 'REAL', 4),
 ('COMMUNITY_AREA_NUMBER', 'REAL', 4),
 ('FBICODE', 'TEXT', 4),
 ('X_COORDINATE', 'REAL', 4),
 ('Y_COORDINATE', 'REAL', 4),
 ('YEAR', 'INTEGER', 7),
 ('LATITUDE', 'REAL', 4),
 ('LONGITUDE', 'REAL', 4),
 ('LOCATION', 'TEXT', 4)]

In [45]:
%sql SELECT name,type,length(type) FROM PRAGMA_TABLE_INFO('CHICAGO_PUBLIC_SCHOOLS_DATA');

 * sqlite:///FinalDb.db
Done.

[('School_ID', 'INTEGER', 7),
 ('NAME_OF_SCHOOL', 'TEXT', 4),
 ('Elementary, Middle, or High School', 'TEXT', 4),
 ('Street_Address', 'TEXT', 4),
 ('City', 'TEXT', 4),
 ('State', 'TEXT', 4),
 ('ZIP_Code', 'INTEGER', 7),
 ('Phone_Number', 'TEXT', 4),
 ('Link', 'TEXT', 4),
 ('Network_Manager', 'TEXT', 4),
 ('Collaborative_Name', 'TEXT', 4),
 ('Adequate_Yearly_Progress_Made_', 'TEXT', 4),
 ('Track_Schedule', 'TEXT', 4),
 ('CPS_Performance_Policy_Status', 'TEXT', 4),
 ('CPS_Performance_Policy_Level', 'TEXT', 4),
 ('HEALTHY_SCHOOL_CERTIFIED', 'TEXT', 4),
 ('Safety_Icon', 'TEXT', 4),
 ('SAFETY_SCORE', 'REAL', 4),
 ('Family_Involvement_Icon', 'TEXT', 4),
 ('Family_Involvement_Score', 'TEXT', 4),
 ('Environment_Icon', 'TEXT', 4),
 ('Environment_Score', 'REAL', 4),
 ('Instruction_Icon', 'TEXT', 4),
 ('Instruction_Score', 'REAL', 4),
 ('Leaders_Icon', 'TEXT', 4),
 ('Leaders_Score', 'TEXT', 4),
 ('Teachers_Icon', 'TEXT', 4),
 ('Teachers_Score', 'TEXT', 4),
 ('Parent_Engagement_Icon', 'TEXT', 4),
 ('Parent_Engagement_Score', 'TEXT', 4),
 ('Parent_Environment_Icon', 'TEXT', 4),
 ('Parent_Environment_Score', 'TEXT', 4),
 ('AVERAGE_STUDENT_ATTENDANCE', 'TEXT', 4),
 ('Rate_of_Misconducts__per_100_students_', 'REAL', 4),
 ('Average_Teacher_Attendance', 'TEXT', 4),
 ('Individualized_Education_Program_Compliance_Rate', 'TEXT', 4),
 ('Pk_2_Literacy__', 'TEXT', 4),
 ('Pk_2_Math__', 'TEXT', 4),
 ('Gr3_5_Grade_Level_Math__', 'TEXT', 4),
 ('Gr3_5_Grade_Level_Read__', 'TEXT', 4),
 ('Gr3_5_Keep_Pace_Read__', 'TEXT', 4),
 ('Gr3_5_Keep_Pace_Math__', 'TEXT', 4),
 ('Gr6_8_Grade_Level_Math__', 'TEXT', 4),
 ('Gr6_8_Grade_Level_Read__', 'TEXT', 4),
 ('Gr6_8_Keep_Pace_Math_', 'TEXT', 4),
 ('Gr6_8_Keep_Pace_Read__', 'TEXT', 4),
 ('Gr_8_Explore_Math__', 'TEXT', 4),
 ('Gr_8_Explore_Read__', 'TEXT', 4),
 ('ISAT_Exceeding_Math__', 'REAL', 4),
 ('ISAT_Exceeding_Reading__', 'REAL', 4),
 ('ISAT_Value_Add_Math', 'REAL', 4),
 ('ISAT_Value_Add_Read', 'REAL', 4),
 ('ISAT_Value_Add_Color_Math', 'TEXT', 4),
 ('ISAT_Value_Add_Color_Read', 'TEXT', 4),
 ('Students_Taking__Algebra__', 'TEXT', 4),
 ('Students_Passing__Algebra__', 'TEXT', 4),
 ('9th Grade EXPLORE (2009)', 'TEXT', 4),
 ('9th Grade EXPLORE (2010)', 'TEXT', 4),
 ('10th Grade PLAN (2009)', 'TEXT', 4),
 ('10th Grade PLAN (2010)', 'TEXT', 4),
 ('Net_Change_EXPLORE_and_PLAN', 'TEXT', 4),
 ('11th Grade Average ACT (2011)', 'TEXT', 4),
 ('Net_Change_PLAN_and_ACT', 'TEXT', 4),
 ('College_Eligibility__', 'TEXT', 4),
 ('Graduation_Rate__', 'TEXT', 4),
 ('College_Enrollment_Rate__', 'TEXT', 4),
 ('COLLEGE_ENROLLMENT', 'INTEGER', 7),
 ('General_Services_Route', 'INTEGER', 7),
 ('Freshman_on_Track_Rate__', 'TEXT', 4),
 ('X_COORDINATE', 'REAL', 4),
 ('Y_COORDINATE', 'REAL', 4),
 ('Latitude', 'REAL', 4),
 ('Longitude', 'REAL', 4),
 ('COMMUNITY_AREA_NUMBER', 'INTEGER', 7),
 ('COMMUNITY_AREA_NAME', 'TEXT', 4),
 ('Ward', 'INTEGER', 7),
 ('Police_District', 'INTEGER', 7),
 ('Location', 'TEXT', 4)]

In [46]:
%sql SELECT name,type,length(type) FROM PRAGMA_TABLE_INFO('CENSUS_DATA');

 * sqlite:///FinalDb.db
Done.

[('COMMUNITY_AREA_NUMBER', 'REAL', 4),
 ('COMMUNITY_AREA_NAME', 'TEXT', 4),
 ('PERCENT_OF_HOUSING_CROWDED', 'REAL', 4),
 ('PERCENT_HOUSEHOLDS_BELOW_POVERTY', 'REAL', 4),
 ('PERCENT_AGED_16__UNEMPLOYED', 'REAL', 4),
 ('PERCENT_AGED_25__WITHOUT_HIGH_SCHOOL_DIPLOMA', 'REAL', 4),
 ('PERCENT_AGED_UNDER_18_OR_OVER_64', 'REAL', 4),
 ('PER_CAPITA_INCOME', 'INTEGER', 7),
 ('HARDSHIP_INDEX', 'REAL', 4)]

You can now proceed to the the following questions. Please note that a graded assignment will follow this lab and there will be a question on each of the problems stated below. It can be from the answer you received or the code you write for this problem. Therefore, please keep a note of both your codes as well as the response you generate.

## Analysis

In [42]:
%sql SELECT COUNT(*) AS total_crimes FROM CHICAGO_CRIME_DATA;

 * sqlite:///FinalDb.db
Done.

[(533,)]



### Economic Analysis and Social Context for Crime Patterns

- This section of the analysis serves a multifaceted purpose, primarily focusing on the identification of economically vulnerable areas in Chicago. Pinpointing community areas with a per capita income below $11,000 highlights regions facing financial challenges. 
- Additionally, the section provides a valuable social and economic context for crime analysis, revealing how economic conditions may influence crime dynamics. This contributes to a more comprehensive understanding of crime patterns. 
- Lastly, the analysis facilitates the strategic targeting of areas for social interventions and economic development initiatives. By identifying specific community areas with lower incomes, it offers insights for implementing targeted interventions to address underlying socio-economic factors contributing to crime in those areas.

#### Resource Allocation and Policing Strategies:

Strategic decisions stemming from the analysis include optimized resource allocation and tailored policing strategies. Law enforcement agencies can leverage the information to allocate resources effectively, recognizing that community areas with lower per capita income may necessitate distinct policing approaches or additional resources to effectively address specific crime challenges.

In [48]:
%sql SELECT Community_Area_Name, Community_Area_Number, Per_Capita_Income FROM CENSUS_DATA \
     WHERE PER_CAPITA_INCOME < 11000

 * sqlite:///FinalDb.db
Done.

[('West Garfield Park', 26.0, 10934),
 ('South Lawndale', 30.0, 10402),
 ('Fuller Park', 37.0, 10432),
 ('Riverdale', 54.0, 8201)]



#### Top 5 Community Areas with Highest Percentage of Households Below Poverty Line

In [88]:
%sql SELECT COMMUNITY_AREA_NAME, PERCENT_HOUSEHOLDS_BELOW_POVERTY \
     FROM CENSUS_DATA \
     ORDER BY PERCENT_HOUSEHOLDS_BELOW_POVERTY desc \
     LIMIT 5

 * sqlite:///FinalDb.db
Done.

[('Riverdale', 56.5),
 ('Fuller Park', 51.2),
 ('Englewood', 46.6),
 ('North Lawndale', 43.1),
 ('East Garfield Park', 42.4)]



#### Community Area with Highest Crime Incidence

In [90]:
%sql SELECT COMMUNITY_AREA_NUMBER \
     FROM CHICAGO_CRIME_DATA \
     GROUP BY COMMUNITY_AREA_NUMBER \
     ORDER BY COUNT(*) DESC \
     LIMIT 1

 * sqlite:///FinalDb.db
Done.

[(25.0,)]

In [94]:
%sql SELECT COMMUNITY_AREA_NAME FROM CENSUS_DATA CD, CHICAGO_CRIME_DATA CCD\
     WHERE CD.COMMUNITY_AREA_NUMBER = CCD.COMMUNITY_AREA_NUMBER \
     GROUP BY COMMUNITY_AREA_NAME \
     ORDER BY COUNT(*) DESC \
     LIMIT 1

 * sqlite:///FinalDb.db
Done.

[('Austin',)]



#### Community Area with Highest Hardship Index

In [93]:
%sql SELECT COMMUNITY_AREA_NAME, HARDSHIP_INDEX \
     FROM CENSUS_DATA \
     WHERE HARDSHIP_INDEX = (SELECT MAX(HARDSHIP_INDEX) FROM CENSUS_DATA) \
     LIMIT 1

 * sqlite:///FinalDb.db
Done.

[('Riverdale', 98.0)]

### Analysis of Crimes Involving Minors


- This section of the analysis focuses on understanding crimes related to minors, specifically those individuals who are under the legal age.
- This analysis holds significant importance in addressing and addressing concerns related to crimes involving minors. It provides law enforcement and relevant authorities with specific insights into the nature and frequency of such incidents, allowing for the development of targeted strategies to safeguard the well-being and safety of underage individuals in the community. 
- The findings can inform policies, resource allocation, and community engagement initiatives aimed at addressing and preventing crimes that impact this vulnerable demographic.

In [68]:
%sql SELECT Case_Number, Primary_Type, Description FROM CHICAGO_CRIME_DATA \
     WHERE DESCRIPTION LIKE '%Minor%'

 * sqlite:///FinalDb.db
Done.

[('HL266884', 'LIQUOR LAW VIOLATION', 'SELL/GIVE/DEL LIQUOR TO MINOR'),
 ('HK238408', 'LIQUOR LAW VIOLATION', 'ILLEGAL CONSUMPTION BY MINOR')]

##### Other crimes invloving children

In [70]:
%sql SELECT Primary_Type, Description FROM CHICAGO_CRIME_DATA \
     WHERE Primary_Type = 'KIDNAPPING' AND DESCRIPTION LIKE '%CHILD%'

 * sqlite:///FinalDb.db
Done.

[('KIDNAPPING', 'CHILD ABDUCTION/STRANGER')]

### Analysis of Crimes at Schools

- This section of the analysis is dedicated to understanding the types of crimes recorded at schools, with the query specifically listing the various kinds of offenses without repetitions. 
- The relevance and importance of this analysis lie in its potential to illuminate safety concerns within educational institutions, providing valuable insights for stakeholders. 
- By identifying and categorizing crimes occurring at schools, the analysis contributes to fostering a safer learning environment for students, teachers, and staff. Strategic decision-making arising from this insight may involve implementing targeted security measures, enhancing school safety protocols, and collaborating with law enforcement to address specific types of offenses.

In [74]:
%sql SELECT Primary_Type, Description, Location_Description \
     FROM CHICAGO_CRIME_DATA \
     WHERE Location_Description LIKE '%SCHOOL%'

 * sqlite:///FinalDb.db
Done.

[('BATTERY', 'SIMPLE', 'SCHOOL, PUBLIC, GROUNDS'),
 ('BATTERY', 'PRO EMP HANDS NO/MIN INJURY', 'SCHOOL, PUBLIC, BUILDING'),
 ('BATTERY', 'SIMPLE', 'SCHOOL, PUBLIC, BUILDING'),
 ('BATTERY', 'SIMPLE', 'SCHOOL, PUBLIC, BUILDING'),
 ('BATTERY', 'SIMPLE', 'SCHOOL, PUBLIC, GROUNDS'),
 ('CRIMINAL DAMAGE', 'TO VEHICLE', 'SCHOOL, PUBLIC, GROUNDS'),
 ('NARCOTICS', 'POSS: HEROIN(WHITE)', 'SCHOOL, PUBLIC, GROUNDS'),
 ('NARCOTICS', 'MANU/DEL:CANNABIS 10GM OR LESS', 'SCHOOL, PUBLIC, BUILDING'),
 ('ASSAULT', 'PRO EMP HANDS NO/MIN INJURY', 'SCHOOL, PUBLIC, GROUNDS'),
 ('CRIMINAL TRESPASS', 'TO LAND', 'SCHOOL, PUBLIC, GROUNDS'),
 ('PUBLIC PEACE VIOLATION', 'BOMB THREAT', 'SCHOOL, PRIVATE, BUILDING'),
 ('PUBLIC PEACE VIOLATION', 'BOMB THREAT', 'SCHOOL, PUBLIC, BUILDING')]



##### Average Safety Scores Across School Types

In [84]:
%sql SELECT "Elementary, Middle, or High School" AS School_Type, AVG(SAFETY_SCORE) AS Average_Safety_Score \
     FROM Chicago_Public_Schools_Data \
     WHERE SAFETY_SCORE IS NOT NULL \
     GROUP BY "Elementary, Middle, or High School"

 * sqlite:///FinalDb.db
Done.

[('ES', 49.52038369304557), ('HS', 49.62352941176471), ('MS', 48.0)]